/* $Id$ */

.project-item {
  border-top: 1px solid #E0E0D8;
  clear: both;
  padding: 10px 0 10px;
}

.project-item-first {
  clear: both;
  padding: 0 0 10px;
}

.project-browser-install-main {
  padding: 10px;
  float: right;
  width: 75%; 
}

.install-disabled {
  color: gray;
}

.install-enabled {
  color: green;
}

.project-browser-install-sidebar-left {
  float: left;
  width: 20%;
  padding: 10px;
}

div.project-information {
  float: left;
  width: 80%;
}

div.project-status {
  float: right;
  text-align: right;
  width: 20%;
  margin-bottom: 10px;
}

div.project-title {
  font-size: 18px;
}

fieldset#edit-category,
fieldset#edit-version  {
  border: none;
}

div.install-item-prefix {
  float:left;
  margin-left: 50px;
}

div.form-item-install {
  float: right; 
}

#project-browser div.project-browser-region {
  float: left;
  min-height: 1px;
}

#project-browser div#project-browser-main {
  width: 65%;
  margin-right: 1%; /* LTR */
}

#project-browser div#project-browser-sidebar-right {
  width: 33%;
}

#project-browser div.project-browser-block {
  margin-bottom: 20px;
  border: 1px solid #CCCCCC;
}

#project-browser .project-browser-region .project-browser-block {
  clear: both;
}

#project-browser div.project-browser-block h2 {
  float: none;
  font-size: 1em;
  margin: 0;
  padding: 3px 10px;
  background: none repeat scroll 0 0 #E0E0D8;
}

#project-browser div.project-browser-block div.content {
  padding: 10px 5px 5px;
}