/* $Id$ */

a.show-more {
  float: right;
}

.project-extra {
  clear: both;
  color: gray;
  text-align: right;
}

.project-author {
  color: gray;
  font-size: 0.9em;
}

.project-updated {
  color: gray;
  font-size: 0.9em;
}

.project-image {
  float: left;
  margin-right: 10px;
}

.project-image img {
  max-height: 150px;
  max-width: 200px;
}

#project-browser-main ul, #project-browser-main ol {
  list-style-position: inside;
}

.project-item {
  border-top: 1px solid #E0E0D8;
  clear: both;
  padding: 10px;
  position: relative;
}

.project-item-first {
  clear: both;
  padding: 10px;
  position: relative;
}

div.project-status {
  position: absolute;
  right: 10px;
  text-align: right;
  top: 5px;
}

div.project-information {
  
}

.project-browser-install-main {
  padding: 10px;
  float: right;
  width: 76%; 
}

.install-disabled {
  color: gray;
}

.install-enabled {
  color: green;
}

.project-browser-install-sidebar-left {
  float: left;
  width: 19%;
  padding: 10px;
}

div.project-title {
  font-size: 18px;
}

fieldset#edit-category,
fieldset#edit-version  {
  border: none;
}

div.install-item-prefix {
  float:left;
  margin-left: 50px;
}

#project-browser-main div.form-item-install {
  float: right; 
}

#project-browser div.project-browser-region {
  min-height: 1px;
}

#project-browser div#project-browser-main {
  width: 75%;
  float: left;
  margin-right: 1%;
}

#project-browser div#project-browser-sidebar-right {
  width: 23%;
  float: right;
}

#project-browser div.project-browser-block {
  margin-bottom: 20px;
  border: 1px solid #CCCCCC;
}

#project-browser .project-browser-region .project-browser-block {
  clear: both;
}

#project-browser div.project-browser-block h2 {
  float: none;
  font-size: 1em;
  margin: 0;
  padding: 3px 10px;
  background: none repeat scroll 0 0 #E0E0D8;
}

#project-browser div#project-browser-sidebar-right div.project-browser-block div.content {
  padding: 5px 10px;
}